<table cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center" width="650">
  <tbody><tr>
    <td align="center" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#ffffff" align="center" valign="top"><table cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center" width="610">
      
      <tbody>
        <tr>
          <td align="left" valign="top" style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 12px; line-height: 18px;">Dear {$client_name},
            <p> This is a notification to let you know that we are changing the status of your ticket #{$ticket_id} to Closed as we have not received a response from you in over {$ticket_auto_close_time} hours. </p></td>
        </tr>
      <tr>
        <td align="left" valign="top" style="border-bottom: 2px dotted #F57B1C;"> </td>
      </tr>
      <tr>
        <td align="left" valign="top"> </td>
      </tr>
      <tr>
        <td align="left" valign="top"><table cellspacing="0" cellpadding="0" border="0" width="610">
            <tbody>
            <tr>
              <td align="left" valign="top" style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 12px; line-height: 18px;"><strong>Support Ticket Information</strong></td>
            </tr>
            <tr>
              <td align="left" valign="top" style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 12px; line-height: 18px;"> Subject: {$ticket_subject}<br />
                Department: {$ticket_department}<br />
                Priority: {$ticket_priority}<br />
                Status: {$ticket_status} </td>
            </tr>
            <tr>
              <td align="left" valign="top" style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 12px; line-height: 18px;">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" valign="top" style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 12px; line-height: 18px;"> If you have any further questions then please just reply to re-open the ticket. </td>
            </tr>
            </tbody>
        </table></td>
      </tr>
      <tr>
        <td align="left" valign="top" style="border-bottom: 2px dotted rgb(228, 35, 48);"></td>
      </tr>
      <tr>
        <td align="left" valign="top"> </td>
      </tr>
      
      
      
      <tr>
        <td align="left" valign="top"><table cellspacing="0" cellpadding="0" border="0" width="610">
            <tbody><tr>
              <td align="left" valign="top" style="border-top: 1px solid rgb(204, 204, 204);"> </td>
            </tr>
            <tr>
              <td align="left" valign="top"><span style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: #F57B1C; font-size: 15px; line-height: 20px;">Managing Your Services</span>
                  <p><span style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 12px; line-height: 18px;">You can manage your services using your <a href="http://www.firehost.com.au/cc/clientarea.php" style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: #F57B1C;">Client Area</a>. Your <a href="http://www.firehost.com.au/cc/clientarea.php" style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: #F57B1C;">Client Area </a>lets you manage all your hosting accounts, eNews subscriptions, Domain names, Managed Server subscriptions and other online services, and view your orders and payments. </span></p>
                <p><span style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 12px; line-height: 18px;">Simply go to <a href="http://www.firehost.com.au/cc/clientarea.php" style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: #F57B1C;">http://www.firehost.com.au/ca/clientarea.php</a> and log in using your email address {$client_email} and password {$client_password}.</span></p>
                <p><span style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 12px; line-height: 18px;"> If you have forgotten your password, go to </span><a href="http://www.firehost.com.au/cc/clientarea.php" style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: #F57B1C; font-size: 12px; line-height: 18px;">http://www.firehost.com.au/cc/clientarea.php</a></p></td>
            </tr>
            <tr>
              <td align="left" valign="top"> </td>
            </tr>
        </tbody></table></td>
      </tr>
      <tr>
        <td align="left" valign="top"> </td>
      </tr>
      <tr>
        <td bgcolor="#e0e0e0" align="left" valign="top" style="color: rgb(228, 35, 48); font-size: 11px; font-family: Century Gothic,Arial,Helvetica,sans-serif;"><table cellspacing="0" cellpadding="0" border="0" bgcolor="#e0e0e0" align="center" width="590">
            
            <tbody><tr>
              <td align="left" valign="top" colspan="4"> </td>
            </tr>
            <tr>
              <td height="49" align="left" valign="top" colspan="4"><span style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: #F57B1C; font-size: 15px; line-height: 20px;">TRUECMS Pty Ltd</span> <br/>
                  <span style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 11px;">ABN: 63 133 456 005</span></td>
            </tr>
            <tr>
              <td align="left" width="230" valign="top" style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 11px;">14 Mina Court, Carrum Downs, VIC 3201</td>
              <td align="left" width="118" valign="top" style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 11px;"><strong>T:</strong> 1300 66 2 100</td>
              <td align="left" width="106" valign="top" style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 11px;"><strong>F:</strong> +61 3 9014 6807</td>
              <td align="right" width="156" valign="top" style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 11px;"><a style="color: rgb(51, 51, 51); text-decoration: none; font-family: Century Gothic,Arial,Helvetica,sans-serif;" target="new" href="http://www.firehost.com.au/">www.firehost.com.au</a></td>
            </tr>
            <tr>
              <td align="left" valign="top" style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 11px;"> </td>
              <td align="left" valign="top" style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 11px;"> </td>
              <td align="left" valign="top" style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 11px;"> </td>
              <td align="right" valign="top" style="font-family: Century Gothic,Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-size: 11px;"> <a style="color: rgb(51, 51, 51); text-decoration: none; font-family: Century Gothic,Arial,Helvetica,sans-serif;" target="new" href="http://www.truecms.net.au/">www.truecms.net.au</a></td>
            </tr>
        </tbody></table></td>
      </tr>
    </tbody></table>    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffff" align="center" valign="top"> </td>
  </tr>
</tbody></table>
