.vm-config-icon-running {
  background-image: url('/sites/all/modules/xs/assets/images/buttons-delete-accept-add-exclude.jpg');
  background-position: -10px 1px;
  background-size: 90px;
  background-repeat: no-repeat;
}

.vm-config-icon-halted {
  background-image: url('/sites/all/modules/xs/assets/images/buttons-delete-accept-add-exclude.jpg');
  background-position: -45px -33px;
  background-size: 90px;
  background-repeat: no-repeat;
}

.vm-config-value {
  line-height: 35px;
  font-size: 21px;
  padding: 5px;
}

.vm-config-icon {
  height: 35px;
  line-height: 35px;
  width: 35px;
  font-size: 24px;
  padding: 5px;
  position: absolute;
}

.xs-vm-section {
  padding: 10px;
  border: solid 1px #7f0000;
  margin-bottom: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.xs-vm-tag {
  padding: 6px 8px;
  line-height: 1;
  background-color: #d2d2d2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  margin: 3px 20px 2px 0;
}
.xs-vm-row {
  border-bottom: #cccccc 1px dashed;
  padding: 5px 10px;
}

.xs-vm-row label {
  width: 30%;
}

.red {
  color: red;
}

.green {
  color: green;
}

.yellow {
  color: orange;
}

.blue {
  color: blue;
}

.dropdown-links .glyphicon,
.dropdown-links i.fa {
  margin: 5px 10px;
}
.fa-info,
.fa-question {
  cursor: help;
  color: #cbcfd4;
}

.xs-glyphicon-link,
.xs-glyphicon-link:link,
.xs-glyphicon-link:hover,
.xs-glyphicon-link:visited {
  color: #000000;
}

.warning {
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: 0.1em 0.5em;
  color: darkblue;
  padding: 10px 10px 10px 30px;
  border: solid 2px sandybrown;
  margin: 10px 0;
}

.align-right {
  text-align: right;
}

.modal-content input[type="submit"] {
  margin: 0;
}

#xs-snapshots-create-snapshot-form #edit-title {
  width: 100%;
}

.modal-content .form-item {
  display: inline;
  width: 100%;
}

#block-system-user-menu.block {
  padding: 0;
}

#block-system-user-menu ul.menu {
  margin: 0;
  padding: 15px 0 5px 0;
  list-style: none;
  text-align: right;
}

#block-system-user-menu ul.menu li {
  background: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  float: none;
  z-index: 497;
}

#block-system-user-menu ul.main-menu.menu > li.active-trail > a {
  border-bottom: 2px solid #252525;
}

#block-system-user-menu ul.menu li:before {
  content: "";
}

#block-system-user-menu ul.menu li a {
  font-size: 14px;
  font-weight: 700;
  padding: 5px 17px 5px;
  text-transform: uppercase;
  margin: 0 5px;
  border-bottom: 2px solid transparent;
  color: #000000;
}

#block-system-user-menu ul.menu li a:hover,
#block-system-user-menu ul.main-menu.menu > li.active-trail > a:hover {
  color: #2a68af;
  background-color: transparent;
  border-bottom: 2px solid #252525;
}

#block-system-user-menu ul.menu li.expanded > a:before,
#block-system-user-menu ul.menu li.collapsed > a:before {
  content: "";
}

.node-snapshots .table-responsive {
  overflow: visible;
}

.table-responsive > .table > tbody > tr > td > span,
.table-responsive > .table > tbody > tr > th > span,
.table-responsive > .table > tfoot > tr > td > span,
.table-responsive > .table > tfoot > tr > th > span,
.table-responsive > .table > thead > tr > td > span,
.table-responsive > .table > thead > tr > th > span {
  white-space: normal;
}

.col-md-12 {
  margin: 10px 0;
}

.bg-warning,
.bg-success,
.bg-info,
.bg-danger,
.bg-primary {
  padding: 10px;
  margin: 10px 0;
}

.node-xs-vps label {
  margin: 0;
}

.region.region-navigation {
  display: inline;
  width: 100%;
}

#navbar .navbar-collapse .region-navigation section.block {
  clear: none;
  display: inline;
}

#dropdownMenu2,
#dropdownMenu3,
#block-xs-xs-server-navigation .dropdown-menu,
#block-xs-xs-user-links .dropdown-menu {
  margin-left: 20px;
}

.region-navigation #block-xs-xs-server-navigation {
  float: left;
}

.region-navigation #block-xs-xs-user-links,
.region-navigation #block-xs-xs-server-action-links {
  float: right;
}

.region-navigation #block-xs-xs-server-action-links {
  margin: 10px;
}

#block-xs-xs-server-navigation .btn-default,
#block-xs-xs-user-links .btn-default {
  background-color: transparent;
  border-color: transparent;
}

#block-xs-xs-server-navigation .dropdown-toggle i {
  margin-right: 5px;
}

.main-container.container {
  position: relative;
  top: 85px;
}

.node-type-xs-vps h1.page-header,
.node-type-xs-vps .tabs--primary {
  display: none;
}

.xs-server-navigation .dropdown-menu,
.xs-user-navigation .dropdown-menu {
  width: 250px;
}

.xs-server-navigation .dropdown-menu > li {
  padding-left: 10px;
}

.xs-server-navigation .dropdown-menu > li > a,
.xs-user-navigation .dropdown-menu > li > a {
  display: inline;
  clear: none;
}

.xs-user-navigation .dropdown-menu-right,
.xs-server-navigation .dropdown-menu-right {
  left: 0px;
}

.xs-server-navigation .dropdown-header,
.xs-user-navigation .dropdown-header {
  font-size: 14px;
  margin-left: 20px;
}

.xs-server-navigation button > i.fa,
.xs-user-navigation button > i.fa {
  margin-right: 10px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.not-logged-in.page-user .main-container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.front .main-container h1.page-header,
h2.element-invisible {
  display: none;
  visibility: hidden;
}

.views-table > tbody > tr > td,
.table.views-table > tbody > tr > td,
.views-table td {
  vertical-align: middle;
}

#block-xs-xs-server-thumbs-navigation .col-md-12 {
  text-align: center;
}

.server-icon {
  text-align: center;
  margin-right: 20px;
  min-height: 50px;
  max-width: 100px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  float: left;
}

.server-icon .icon a {
  font-weight: 300;
}

.server-icon .icon a i,
.server-icon .icon a .text {
  clear: both;
  display: block;
}

.server-icon .icon a.inactive {
  color: #2b91af;
}

.server-icon .icon a.active {
  color: #0f3e68;
}

.server-icons-navigation {
  padding: 20px 0px;
}
