.vm-config-icon-running {
  background-image: url('/sites/all/modules/xs/assets/images/buttons-delete-accept-add-exclude.jpg');
  background-position: -10px 1px;
  background-size: 90px;
  background-repeat: no-repeat;
}

.vm-config-icon-halted {
  background-image: url('/sites/all/modules/xs/assets/images/buttons-delete-accept-add-exclude.jpg');
  background-position: -45px -33px;
  background-size: 90px;
  background-repeat: no-repeat;
}

.vm-config-value {
  line-height: 35px;
  font-size: 21px;
  padding: 5px;
}

.vm-config-icon {
  height: 35px;
  line-height: 35px;
  width: 35px;
  font-size: 24px;
  padding: 5px;
  position: absolute;
}

.xs-vm-section {
  padding: 10px;
  border: solid 1px #7f0000;
  margin-bottom: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.xs-vm-tag {
  padding: 6px 8px;
  line-height: 1;
  background-color: #d2d2d2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  margin: 3px 20px 2px 0;
}
