.field-item ul,
#footer ul {
  padding-left: 2rem;
}

.promo {
  background-color: #547f1f;
  color: #ffffff;
}

.promo-orange {
  background-color: #e2630b;
  color: #ffffff;
}

#block-block-26 {
}

#block-block-26 .content li {
  font-size: 130px;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  display: inline;
}

table th, table td {
  text-align: center;
}

.client-login {
  float: right;
}

#header-inside {
  padding: 5px 0 30px;
}

a.more-square, .more-link-square a {
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px;
  background-color: #961300;
  color: #ffffff;
  display: inline-block;
  line-height: 1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  min-width: 100px;
  border: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 10px 0;
  text-align: center;
}

* {
  font-family: "Lato", Sans Serif, Helvetica Neue;
  font-weight: 400;
}

#site-name,
#site-name *,
h1,
h2,
h3,
h4,
h5,
h6,
h1 *,
h2 *,
h3 *,
h4 *,
h5 *,
h6 *,
nav *,
strong,
b,
.title,
.title * {
  font-family: "Oswald", Sans Serif, Helvetica Neue;
}

h1,
h2,
h1 a,
h2 a {
  font-weight: 700;
}

#site-slogan {
  margin-top: 25px;
}

#header-inside-right {
  margin: 0px;
  padding: 0px;
}

#header-inside {
  padding: 5px 0 10px;
}

/** CUSTOM ERROR PAGES */
.custom-error-code, .custom-error-code * {
  font-family: "Oswald";
  font-size: 18em;
  font-weight: 700;
}

.page-node-176 #main-content #main #page-title,
.page-node-175 #main-content #main #page-title {
  display: none;
}

.page-node-176 #main-content #main #page-title,
.page-node-175 #main-content #main #block-system-main .right {
  padding: 4em;
}

#site-name {
  margin: 0;
}

#site-slogan {
  margin: 0px 30px 0px 50px;
}

#site-name a {
  line-height: 1.5;
}

.mean-container .mean-bar {
  float: right;
  width: auto;
}

#logo {
  float: left;
}

#site-name a {
  margin-right: 10%;
}

.mean-container .mean-nav {
  right: 0px;
  width: 60vw;
}

.submitted-user,
.user-picture {
  display: inline;
  margin-right: 20px;
}
