@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin-ext,latin,greek);

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(//fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJRQY7K75eWF8CEHY3idiESw.woff2) format('woff2'), url(//fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJdws6VUGd0SOnU-R_teOl7k.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(//fonts.gstatic.com/s/robotoslab/v6/3__ulTNA7unv0UtplybPipBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(//fonts.gstatic.com/s/robotoslab/v6/3__ulTNA7unv0UtplybPirO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(//fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJbem2gMl4YP8s4rufAiiwPo.woff2) format('woff2'), url(//fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJSXIwCIIu6QKBvrtc7ntuuI.woff) format('woff');
}
